<p id="notice"><%= notice %></p>
<div class = "show_post"
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
</div>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
